<%
  faqs = [
    ["FoxFizz.com là gì?",  "FoxFizz.com là trang web mua bán rao vặt các thiết bị Gaming, 
    các công cụ để hỗ trợ chơi game chuyên nghiệp. 
    FoxFizz cho phép kết nối người bán và người mua kết nối và giao dịch dễ dàng trong môi trường 
    tện lợi và rõ ràng. Ở FoxFizz.com, bất kỳ ai cũng có thể đăng tin rao vặt miễn phí ngay."],
    
    ["Mẹo tìm kiếm?",  "Cho phép tìm kiếm tên theo tên sản phẩm, nơi bán, người dùng. Để tìm người dùng hoặc hàng mua:<br/>
    Mẹo số 1: Tìm tên món hàng <br/>
    Tìm kiếm theo Tag: bắt đầu bằng ký tự '#', #SanPham <br/> Ví dụ: #TaiPhone, #BanPhim, #Chuot <br/>
    Mẹo số 2: Tên người dùng <br/>
    Để tìm kiếm người dùng: <br/>
    -  Tìm bằng tên người dùng hoặc username: Bắt đầu bằng ký tự '@', @NguoiDungA, @NguoiDungB. <br/>
    Ví dụ: tên user: @PhongPhan, @Tien, @PhamXuanMai hay tên người dùng như: @Trần Hữu Tâm <br/>
  	- Hoặc bạn có thể tìm bằng địa chỉ email. <br/>
    "],
    
    ["Làm sao để đăng tin?",  "Bước 1: Chọn biểu tượng dấu + ở trang chủ <br/>
    Bước 2: Đăng nhập bằng Google hoặc Facebook (nếu chưa đăng nhập) <br/>
    Bước 3: Điền thông tin và nhấn nút đăng tin <br/>
    Kết thúc. <br/>
    <i>Lưu ý:</i> <br/>
    Bạn cần có 1 tài khoản (thông qua đăng nhập bằng Facebook/Google cho phép login vào hệ thống) để thực hiện 
    đăng tin bán đồ của mình, với người mua thì không cần.<br/>
    Chỉ tin bằng tiếng Việt có dấu mới được rao bán, nếu không sẽ bị xóa hoặc ẩn đi cho đến khi người đăng tin chỉnh sửa lại.<br/>
    Mỗi tin chỉ quảng cáo cho một sản phẩm. Nếu sản phẩm bạn có nhiều kiểu dáng khác nhau, hãy đăng các tin khác nhau."],
    
    ["Lỗi đăng nhập", "Lỗi: Đăng nhập bằng Facebook nhưng không tạo được tài khoản FoxFizz <br/>
    Lý do: Thiếu địa chỉ Email bên tài khoản Facebook, bạn không được để trắng email trên Facebook <br/>
    Cách khắc phục: <br/>
    -	Cập nhật lại email bên tài khoản Facebook <br/>
    -	Truy cập: <href>="https://www.facebook.com/settings?tab=applications&__mref=message_bubbl" <br/>
    Xóa FoxFizz
    -	Đăng nhập vào FoxFizz bằng tài khoản Facebook"],
    
     ["Làm sao để đăng nhập?",  "Để đăng nhập bạn cần có tài khoản FoxFizz bằng cách Login bằng tài khoản Facebook hoặc Google.<br/>
     Sau khi Login thành công, bạn có thể đăng tin và bình luận, sử dụng các chức năng khác dành cho thành viên. <br/>
     Nếu gặp lỗi trong quá trình đăng nhập, tham khảo mục <b>Lỗi đăng nhập</b>"],
  ]
%>

<div id="help" class="container">
  <h4 class="card-panel primary-color center-align">Trung tâm hỗ trợ</h4>
  
  <div class="card-panel primary-color">
    <p>Quý khách có bất kỳ vấn đề gì cần hỗ trợ, hãy liên hệ với bộ phận chăm sóc khách hàng của FoxFizz theo thông tin như sau:</p>
    <ul>
      <li>Phone: (08) 123 456 789 </li>
      <li>Email: support@foxfizz.com</li>
      <li>Skype: support.foxfizz </li>
      <li>FaceBook: <a href="https://www.facebook.com/foxfizz">https://www.facebook.com/foxfizz</a></li>
    </ul>
  </div>

  <div id="faq">
    <h5 class="card-panel primary-color center-align">
      Những câu hỏi thường gặp
    </h5>
    <ul class="collapsible" data-collapsible="accordion">
      <% faqs.each do |faq| %>
        <li>
          <div class="collapsible-header primary-color">
            <i class="material-icons">question_answer</i> <%= faq[0] %>
          </div>
          <div class="collapsible-body">
            <p><%= faq[1] %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
