<%
  faqs = [
    ["FoxFizz.com là gì?",  "FoxFizz.com là trang web mua bán rao vặt các thiết bị Gaming, 
    các công cụ để hỗ trợ chơi game chuyên nghiệp. 
    FoxFizz cho phép kết nối người bán và người mua kết nối và giao dịch dễ dàng trong môi trường 
    tiện lợi và rõ ràng."],
    
    ["Cách tìm kiếm hiệu quả?",  "Cho phép tìm kiếm tên theo tên sản phẩm, nơi bán, người dùng, .... Để tìm người dùng hoặc sản phẩm:<br/>
    + <b>Tìm kiếm sản phẩm:</b><br/>
    - <i>Tìm kiếm theo tên sản phẩm, nơi bán:</i><br/>
      Ví dụ:  Bàn phím Razer Death ở Thủ Đức, Chuột SteelSeries Sensei RAW, ... <br/>
    - <i>Tìm kiếm theo #tag, bắt đầu bằng ký tự '#'<br/>
      Ví dụ: #sony, #b</i>eat, #lazada, ... <br/><br/>
    + <b>Tìm kiếm người dùng: </b> <br/>
    - <i> Tìm bằng tên hoặc username: Bắt đầu bằng ký tự '@'</i><br/>
    Ví dụ: @fongfan999, @trinhtrongtin, ... hoặc @Tùng Sơn, ... <br/>
  	- <i>Hoặc bạn có thể tìm bằng địa chỉ email. </i><br/>
    "],
    
    ["Làm sao để đăng tin?",  "Bước 1: Chọn biểu tượng dấu + ở đầu trang <br/>
    Bước 2: Đăng nhập bằng Google hoặc Facebook (nếu chưa đăng nhập) <br/>
    Bước 3: Điền thông tin và nhấn nút đăng tin <br/>
    <br/>
    <i><b>Lưu ý:</b></i> <br/>
    <i>- Bạn cần đăng nhập để đăng tin, với người mua thì không cần.<br/>
    - Chỉ tin bằng tiếng Việt có dấu mới được rao bán, nếu không sẽ bị xóa hoặc ẩn đi cho đến khi người đăng tin chỉnh sửa lại.<br/>
    - Mỗi tin chỉ quảng cáo cho một sản phẩm. Nếu sản phẩm bạn có nhiều kiểu dáng khác nhau, hãy đăng các tin khác nhau.</i>"],
    
    ["Tại sao tôi đăng nhập bằng Facebook nhưng bị lỗi <i>Email không thể đế trống</i>?", " <br/>
    Nguyên nhân: Thiếu địa chỉ Email bên tài khoản Facebook, nên hệ thống không cho phép bạn đăng nhập <br/>
    Cách khắc phục: <br/>
    -	Cập nhật lại email bên tài khoản Facebook <br/>
    -	Truy cập: <a href='https://www.facebook.com/settings?tab=applications'>
    https://www.facebook.com/settings?tab=applications</a> và nhấn vào nút xóa FoxFizz <br/>
    -	Đăng nhập vào FoxFizz bằng tài khoản Facebook bình thường"],
    
    ["Làm sao để đăng nhập?",  "Để đăng nhập bạn cần có tài khoản FoxFizz bằng cách đăng nhập bằng tài khoản Facebook hoặc Google.<br/>
     Sau khi đăng nhập thành công, bạn có thể đăng tin và bình luận, sử dụng các chức năng khác dành cho thành viên. <br/>
     Nếu gặp lỗi trong quá trình đăng nhập, tham khảo mục <b>Lỗi đăng nhập</b>"],
     
    ["FoxFizz cho phép đăng tin bán những sản phẩm gì?", "FoxFizz là chợ mua bán Gaming Gear, vậy nên FoxFizz cho phép đăng tin các sản phẩm trong lĩnh vực này như chuột, bàn phím, tai nghe, khác (màn hình, lót tay, đồ giữ dây chuột, mouse feet, ...)"],
    
    ["Quyền lợi thành viên FoxFizz.com?","
    - Được quyền đăng tin rao bán sản phẩm và giao dịch trên website <br/>
    - Trao đổi và thảo luận về các sản phẩm dịch vụ về Gaming <br/>
    - Được hỗ trợ dịch vụ từ FoxFizz.com <br/>
    - ..."],
    

    ["Vấn đề của bạn chưa được giải quyết?","
    Xin vui lòng liên hệ với 1 trong những kênh trên hoặc bình luận bên dưới. Chúng tôi sẽ giải đáp trong một thời gian sớm nhất có thể."],
  ]
%>

<div id="help" class="container">
  <h4 class="card-panel primary-color center-align">Trung tâm hỗ trợ</h4>
  
  <div class="card-panel primary-color">
    <p>Quý khách có bất kỳ vấn đề gì cần hỗ trợ, hãy liên hệ với bộ phận chăm sóc khách hàng của FoxFizz theo thông tin như sau:</p>
    <ul>
      <li>Phone: (08) 123 456 789 </li>
      <li>Email: support@foxfizz.com</li>
      <li>Skype: support.foxfizz </li>
      <li>Facebook: <a href="https://www.facebook.com/foxfizz">https://www.facebook.com/foxfizz</a></li>
    </ul>
  </div>

  <div id="faq">
    <h5 class="card-panel primary-color center-align">
      Những câu hỏi thường gặp
    </h5>
    <ul class="collapsible" data-collapsible="accordion">
      <% faqs.each_with_index do |faq, index| %>
        <li>
          <div class="collapsible-header primary-color">
            <i class="material-icons">question_answer</i> <%= faq[0] %>
          </div>
          <div class="collapsible-body">
            <p><%= raw faq[1] %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <%= render 'facebook_comment', full_path: about_url %>
</div>

<%= render 'application/facebook_comments_sdk' %>
