<%
  faqs = [
    ["FoxFizz.com là gì?",  "FoxFizz.com là trang web mua bán rao vặt các thiết bị Gaming, 
    các công cụ để hỗ trợ chơi game chuyên nghiệp. 
    FoxFizz cho phép kết nối người bán và người mua kết nối và giao dịch dễ dàng trong môi trường 
    tện lợi và rõ ràng. Ở FoxFizz.com, bất kỳ ai cũng có thể đăng tin rao vặt miễn phí ngay."],
    ["Mẹo tìm kiếm?",  "Mẹo số 1: Tìm tên món hàng <br/>
    Tìm kiếm theo Tag: bắt đầu bằng ký tự '#', #SanPham <br/> Ví dụ: #TaiPhone, #BanPhim, #Chuot <br/>
    Mẹo số 2: Tên người dùng <br/>
    Để tìm kiếm người dùng: <br/>
    -  Tìm bằng tên người dùng hoặc username: Bắt đầu bằng ký tự '@', @NguoiDungA, @NguoiDungB. <br/>
    Ví dụ: tên user: @PhongPhan, @Tien, @PhamXuanMai hay tên người dùng như: @Trần Hữu Tâm <br/>
  	- Hoặc bạn có thể tìm bằng địa chỉ email. <br/>
    Mẹo số 3: Tính năng tìm kiếm <br/>
    – Tìm đúng danh mục <br/>
    Từng danh mục lớn có thể có nhiều danh mục con. 
    Chọn đúng chuyên mục sẽ giảm bớt thời gian tìm kiếm, lược bỏ những món hàng không cần thiết. <br/>
    – Tìm đúng khu vực <br/>
    – Tận dụng tính năng hỗ trợ tìm kiếm (lọc, sắp xếp) <br/>
      (1) Tính năng sắp xếp: Sắp xếp món hàng theo giá tiền từ thấp đến cao hay chọn các món hàng được
      đăng theo trình tự thời gian từ mới nhất đến lâu nhất. <br/>
      (2) Tính năng hiển thị: Danh sách món hàng tìm kiếm được hiển thị theo dạng danh sách, tăng số 
      lượng tin tìm được trong một trang kết quả tìm kiếm.
    "],
    ["Question",  "Answer"],
  ]
%>

<div id="help" class="container">
  <h4 class="card-panel primary-color center-align">Trung tâm hỗ trợ</h4>
  
  <div class="card-panel primary-color">
    <p>Quý khách có bất kỳ vấn đề gì cần hỗ trợ, hãy liên hệ với bộ phận chăm sóc khách hàng của FoxFizz theo thông tin như sau:</p>
    <ul>
      <li>Phone: (08) 123 456 789 </li>
      <li>Email: support@foxfizz.com</li>
      <li>Skype: support.foxfizz </li>
      <li>FaceBook: <a href="https://www.facebook.com/foxfizz">https://www.facebook.com/foxfizz</a></li>
    </ul>
  </div>

  <div id="faq">
    <h5 class="card-panel primary-color center-align">
      Những câu hỏi thường gặp
    </h5>
    <ul class="collapsible" data-collapsible="accordion">
      <% faqs.each do |faq| %>
        <li>
          <div class="collapsible-header primary-color">
            <i class="material-icons">question_answer</i> <%= faq[0] %>
          </div>
          <div class="collapsible-body">
            <p><%= faq[1] %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
