<%#= debug helper_fucker %>
<div id="market">
  <div class="nav-pushpin-wrapper pin-top">
    <nav class="primary-color z-depth-0">
      <div class="nav-wrapper center-align row">
        <div class="nav-tabs">
          <ul class="tabs">
            <li class="tab">
              <%= link_to category_nav("Trang chủ"), market_path,
              remote: true %>
            </li>
            
            <% @categories.each do |category| %>
            <li class="tab">
              <%= link_to category_nav(category.name), category,
              remote: true %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>

  <div id="preloader-nav" class="center-align"></div>

  <div class="row ctn card">
    <!-- <div id="preloader-nav" class="center-align"></div> -->
    <div id="posts" class="posts">
      <!-- Render posts as default -->
      <%= render @posts, post_class: "s12 m6 l4" %>
    </div>
    
    <div id="infinite-scrolling"><%= will_paginate @posts %></div>
  </div>

  
</div>