// Preloader
$("#preloader-nav" ).html('<img src="/assets/preloader.gif"/>').fadeIn();

$( document ).ajaxComplete(function() {
  $("#preloader-nav" ).fadeOut();
});

// Insert will_page
if (!$('#infinite-scrolling').length) {
  $("#posts").after('<div id="infinite-scrolling"></div>');
}

$('#infinite-scrolling').html('<%= j will_paginate @posts %>');


// Render posts
$("#posts").html('<%= j render @posts %>').hide().fadeIn("slow");

// Scroll to top
var page = $("html, body");

page.animate({ scrollTop: 0 }, "slow");

// Allow user to scroll down while page is scrolling top automatically
page.on(
  "scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove",
  function(){
    page.stop();
  }
);

 

