
// Display preloader
$("#preloader-nav" ).fadeOut('fast', function() {
  // Callback preloader

  // Insert will_page
  if (!$('#posts-infinite-scrolling').length) {
    $("#posts").after('<div id="posts-infinite-scrolling"></div>');
  }

  // Set will_page
  $('#posts-infinite-scrolling').html('<%= j will_paginate @posts %>');

  // Add view more button
  var viewMore = $('.pagination .next_page a').attr('data-remote', true)
    .addClass('view-more-btn btn').html("<i class='material-icons'>sync</i>");

  $("#posts-infinite-scrolling").append(viewMore.clone()).show();

  // Render posts
  <% if @posts.blank? %>
    $("#posts").html("<h6 class='center-align'>Hiện tại chưa có tin ở danh mục này :(</h6>").hide().fadeIn("slow");
  <% else %>
    $("#posts").html("<%= j render(@posts, post_class: 's12 m6 l3') %>").
      hide().fadeIn("slow");
  <% end %>
 });


