// Preloader
$( document ).ajaxStart(function() {
  $("#preloader-nav" ).html('<img src="/assets/preloader.gif"/>').fadeIn();
});

$( document ).ajaxComplete(function() {
  $("#preloader-nav" ).fadeOut();
});

// Insert will_page
if (!$('#infinite-scrolling').length) {
  $("#posts").after('<div id="infinite-scrolling"></div>');
}

$('#infinite-scrolling').html('<%= j will_paginate @posts %>');


// Render posts
$("#posts").html('<%= j render @posts %>');

// Scroll to top
$("html, body").animate({ scrollTop: 0 }, "slow");
