
// Display preloader
$("#preloader-nav" ).fadeOut('fast', function() {
  // Callback preloader

  // Insert will_page
  if (!$('#posts-infinite-scrolling').length) {
    $("#posts").after('<div id="posts-infinite-scrolling"></div>');
  }

  // Set will_page
  $('#posts-infinite-scrolling').html('<%= j will_paginate @posts %>');

  // Render posts
  $("#posts").html("<%= j render(@posts, post_class: 's12 m6 l4') %>").
    hide().fadeIn("slow");
 });


