<div id="edit-avatar-form" class="modal">
  <%= simple_form_for @user, validate: true,
    html: { class: "full-width", multipart: true } do |f| %>
  <div class="modal-content">
    <h4>Thay đổi ảnh đại diện</h4>
    <br>
    <br>
    <p>
    <p>
    <%= f.input :avatar, as: :file, label: "Ảnh" %>
    </p>
  </div>
  
  <div class="modal-footer">
    <%= f.button :button, 'cập nhật', class: "modal-action validation-btn" %>
    <a class="modal-action modal-close btn-flat">Đóng</a>
  </div>
  <% end %>
</div>