<div class="container">
  <div class="card-panel primary-color">
    <h5 class="center-align white-text">
      Các tin yêu thích
    </h5>
  </div>
  
  <% if @favorite_posts.blank? %>
    <p class="center-align"></p>
    <br>
    <h5 class="center-align">Hiện tại chưa có tin yêu thích.</h5>
  <% else %>
    <div class="row container posts">
      <%= render @favorite_posts, post_class: "s12 m6 l4" %>
    </div>
  <% end %>
  
  <div class="center-align">
    <%= will_paginate @favorite_posts %>
  </div>
</div>
