<% # Clients of this partial must supply the following variables:
   # comments
   # user
%>

<div class="comments_list">
  <% comments.includes(:creator, :editor).each_with_index do |comment, i| %>
    <%= render :partial => 'commontator/comments/show',
               :locals => { :comment => comment,
                            :user => user, :index => i } %>
  <% end %>
</div>
