<div class="container">
  <h1>Welcome to Admin Lounge</h1>

  <ul>
    <li><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Posts", "#" %></li>
    <li><%= link_to "Categories", "#" %></li>
    <li><%= link_to "Tags", "#" %></li>

  </ul>
</div>