/* line 3, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
.chart-js {
  padding: 10px;
  margin-top: 20px;
}

/* line 9, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#top-users .collection .collection-item.avatar {
  padding-right: 40px;
}

/* line 15, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes {
  margin-top: 15px;
  margin-bottom: 0;
}
/* line 19, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes a {
  width: 100%;
  color: #96a2b4;
}
/* line 23, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes a .dashboad-box {
  padding: 30px 20px;
  position: relative;
  min-height: 170px;
  margin-bottom: 0;
}
/* line 29, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes a .dashboad-box i.material-icons {
  font-size: 2.5em;
}
/* line 33, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes a .dashboad-box .dashboad-title {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 39, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes a .dashboad-box .number-in-box {
  font-size: 2.3em;
  text-align: center;
  margin-top: 10px;
}
/* line 45, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes a .dashboad-box .divider-wrapper {
  position: absolute;
  left: 0 !important;
  bottom: 30px !important;
}
/* line 50, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes a .dashboad-box .divider-wrapper .divider-box {
  border-bottom: 4px solid;
  margin-top: 10px;
  width: 90%;
  margin: 0 auto;
}
/* line 61, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes .group .number-in-box {
  color: #fb9678;
}
/* line 65, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes .group .divider-box {
  border-color: #fb9678 !important;
}
/* line 71, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes .description .number-in-box {
  color: #01c0c8;
}
/* line 75, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes .description .divider-box {
  border-color: #01c0c8 !important;
}
/* line 81, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes .list .number-in-box {
  color: #ab8ce4;
}
/* line 85, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes .list .divider-box {
  border-color: #ab8ce4 !important;
}
/* line 91, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes .settings .number-in-box {
  color: #00c292;
}
/* line 95, /Users/phong/Workspace/foxfizz/app/assets/stylesheets/admin/application.scss */
#dashboad-boxes .settings .divider-box {
  border-color: #00c292 !important;
}
