<div class="container">

  <div class="row" id="login-btn">
    <h4 class="center-align">Chọn hình thức đăng nhập</h4>

    <br><br>
    <%= render "shared/login", login_class: "col s12 m12 l6" %>
  </div>
</div>
