<%= title("Chỉnh sửa tin") %>

<div class="header-pattern"></div>

<div class="container-with-header card">
  <header>
    <h4>Chỉnh sửa tin</h4>
  </header>

  <%= render "form", post: @post %>
</div>
