@import "materialize/components/color";
@import 'materialize';
@import 'translate-bootstrap';
@import 'simple-form';
@import 'flexslider.css';
@import 'products';
@import 'responsive';
@import 'dropzone/dropzone';

body {
  display: flex;
  min-height: 150vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

textarea {
  @extend .materialize-textarea;
}

a.new {
  @extend .btn-floating;
  @extend .btn-large;
  @extend .pink;

  i.material-icons:after {
    content: "add";
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.loupe {
  cursor: zoom-in;
  border: 1px solid #ee6e73;
}

.dropzone {
  border-radius: 10px;
  border: 1px dotted #00b8d4;
}

.dz-image {
  border: 1px solid cyan;
}

.dropdown-content > li a {
  color: #03a9f4;
}
