@import "materialize/components/color";
@import 'materialize';
@import 'bootstrap';
@import 'simple-form';
@import 'flexslider.css';
@import 'products';
@import 'users';
@import 'responsive';
@import 'dropzone/dropzone';


html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 150vh;
  flex-direction: column;
}

.main-color {
  background-color: #3ec9cb !important;
}

.divider {
  margin-bottom: 10px;
}

#main {
  padding-left: 55px;
  padding-right: 55px;
  flex: 1 0 auto;
}

#menu-icon {
  font-size: 24px;
  margin-left: 25px;
}

a.brand-logo {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-wrapper {
  ul.right {
    padding-right: 50px;

    li a img {
      top: 10px;
    } 
  }
}

.side-nav .userView {
  @extend .main-color;
}

#drawer-logout {
  position: absolute;
  top: 10px;
  right: 15px;
}

a.new {
  @extend .btn-floating;
  @extend .btn-large;
  @extend .main-color;

  i.material-icons:after {
    content: "add";
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.loupe {
  cursor: zoom-in;
  border: 1px solid #ee6e73;
}

.dropdown-content > li > a {
  color: #03a9f4;
}

li.delete a {
  color: red;
}

#login-btn {
  margin-top: 200px;

  #fb-login-btn, #gg-login-btn {
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #fff;

    img {
      width: 30px;
      margin-top: 10px;
      float: left;
    }

    span {
      padding-left: 10px;
    }
  }

  #fb-login-btn {
    background-color: #0086fb;
  }

  #gg-login-btn {
    background-color: #e44536;
  }
}