// @import "materialize/components/color";

$primary-color: #353c48;
$foreign-color: #e74c3c;
$teal-color: #26a69a;
$bg-color: #3c4452;
$text-color: #96a2b4; //rgba(255, 255, 255, 0.5)

@import 'materialize';
@import "materialize/extras/nouislider";
@import 'main';
@import 'custom-materialize';
@import 'flexslider';
@import 'posts';
@import 'users';
@import 'market';
@import 'responsive';
@import 'dropzone/dropzone';
@import 'jquery.mCustomScrollbar.min';
@import 'sweetalert2';
@import 'admin/application';
@import 'admin/categories';

.fb-login-btn, .gg-login-btn {
  @extend .btn;
  margin: 10px 0 !important;
  height: 48px;
  width: 100%;
  color: #fff;
  text-transform: none;

  img {
    vertical-align: middle;
  }
}

.fb-login-btn {
  background-color: #0086fb;
}

.gg-login-btn {
  background-color: #e44536;
}

.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background-color: $primary-color;

  .preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
  }
}

.hide {
  display: none;
}

.bold {
  font-weight: 600;
  color: $teal-color;
}

.padding-none {
  padding: 0 !important;
}

.collection .collection-item.unread {
  background-color: $bg-color !important;
}

.bordered-logo {
  @extend .circle;
  border: 1px solid #fff;
}

.btn-small {
  height: 30px;
  line-height: 30px;
  padding: 1px 1.5rem;
  font-size: 14px;
}

a.more-vert {
  color: #757575;
}

.dropdown-action {
  width: auto !important;
  min-width: 150px;

  & > li > a {
    color: $text-color;
    font-size: 14px;
    font-weight: 300;

    &:hover {
      color: black;
    }
  }
}

.thread {
  display: block !important;
}

.primary-color {
  background-color: $primary-color;
}

.primary-color-text {
  color: $primary-color;
}

.teal-lighten-text {
  color: $teal-color;
}

i.clear-input {
  position: absolute;
  top: 15px;
  right: 0;
  cursor: pointer !important;
}

.search-bar {
  .input-field {
    height: 44px !important;

    label, i.material-icons {
      top: -10px;
    }

    input[type="search"] {
      height: 44px !important; /* or height of nav */
      margin-top: 10px;
      line-height: 44px;
    }
  }
}

.full-width {
  max-width: 100% !important;
}

.ctn {
  margin-left: auto;
  margin-right: auto;
}

.small-text {
  font-size: 0.7em;
}

.padding-grid {
  padding-left: 10px;
}

// Dark theme
html, body {
  overflow-x: hidden;
  background-color: $bg-color;
  color: $text-color;
}

.card, .tabs, .modal, .modal-content, .modal-footer, .dropdown-content, 
.collection .collection-item, .collection .collection-header {
  background-color: $primary-color !important;
}

.collection, .collection .collection-item {
  border: none !important;
}

a.modal-close {
  color: $text-color;
}

// End Dark theme

body {
  display: flex;
  min-height: 150vh;
  flex-direction: column;
}

.icon-search {
  position: absolute;
  right: 40px;
}

nav ul li, .side-nav li {
  position: relative;
}

.search-bar {
  label i {
    margin-left: 15px;
  }

  #search-dropdown {
    margin-top: 11px;

    .ac-item.ac-hover {
      background-color: #eee;
    }
  }
}

#search-dropdown-m {
  margin-top: 1px;

  .ac-item.ac-hover {
    background-color: #eee;
  }
}

// Notification counter
span.counter {
  position: absolute;
  top: 16.5px;
  right: 5px;
  display: block;
  height: 15px;
  line-height: 15px;
  background-color: #fa3e3e;
  border-radius: 10px;
  color: white;
  padding: 0 4px;
  z-index: 1;
  font-size: 10px;
}

.side-nav {
  span.counter {
    right: 15px;
  }
}

.ac-dropdown.dropdown-content {
  width: 100% !important;
  background-color: #fff !important;

  li a {
    color: #444 !important;

    img {
      @extend .right;
      @extend .circle;
      height: 22px;
      width: 22px;
      margin-left: 10px;
    }
  }

  .highlight {
    color: $teal-color;
  }
}

#notice-content.dropdown-content {
  * {
    font-size: 13px !important;
  }

  min-width: 400px;
  max-height: 400px;
  font-weight: 500;

  .collection-header {
    color: $teal-color;
    min-height: 0;
    height: 40px !important;

    a {
      padding: 0;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }

  .collection-item.avatar {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default !important;
    min-height: 0;
    color: $text-color;

    &:hover {
      background-color: #fafafa;
    }

    img {
      top: 10px;
    }
    
    a {
      padding-top: 3px;
      padding-bottom: 3px;
      color: $text-color !important;

      &:hover {
        background-color: transparent;
      }
    }

    span.secondary-content {
      top: -16px;
      right: -16px;

      &:hover {
        i {
          @extend .teal-lighten-text;
        }
      }
    }

    span.time-ago {
      padding-top: 0px !important;
      padding-bottom: 0 !important;
      font-style: italic;
      color: $text-color !important;
    }
  }
}

#main {
  flex: 1 0 auto;
}

#menu-icon {
  font-size: 24px;
  margin-left: 25px;
}

a.brand-logo {
  padding-left: 20px;
  padding-right: 20px;

  img {
    height: 33px;
    margin-top: 14px;
  }

  span {
    margin-left: 5px;
  }
}

.nav-wrapper {
  ul.right {
    padding-right: 50px;

    li a img {
      top: 10px;
    } 
  }
}

.side-nav {
  background-color: $bg-color;

  .userView {
    @extend .primary-color;
    background: image-url("user-view.jpg") no-repeat center;

    .login-div a {
      color: #fff !important;
    }
  }

  a, i {
    color: $text-color !important;
  }
}

#drawer-logout {
  position: absolute;
  top: 10px;
  right: 15px;
}

a.new {
  @extend .btn-floating;
  @extend .btn-large;
  @extend .primary-color;

  i.material-icons:after {
    content: "add";
  }
}

.toast-notice {
  background-color: #4caf50;
}

.toast-alert {
  background-color: #f44336;
}

a.edit, a.delete, a.mark, a.report {
  &:before {
    font-family: 'Material Icons';
    padding-right: 1em;
    vertical-align: middle;
  }
}

a.edit:before {
  content: "edit";
}

a.delete:before {
  content: "delete";
}

a.mark {
  &.active {
    background-color: $teal-color;
    color: #fff;
  }
  
  &:before {
    content: "check";
  }
}

a.report:before {
  content: "report";
}

.header-pattern {
  height: 300px;
  background-color: #2c3e50;
  position: relative;
  background: image-url("header-pattern.png") no-repeat fixed;
}

.container-with-header {
  max-width: 700px;
  @extend .container;
  margin: 0 auto;
  margin-top: -200px;
  border-top: 5px solid $teal-color;
  padding: 20px 10px;

  header {
    padding-left: 20px;
  }
}

.dropzone {
  background-color: transparent;
}

input.number:disabled {
  color: $text-color;
  border-bottom: 1px solid $text-color;
  text-align: center;
}

.number ~ .character-counter {
  display: none;
}

.noUi-target .range-label {
  @extend .truncate; 
}

// Re-stule flexslider
.flexslider {
  border-radius: 2px;

  .flex-direction-nav {
    a.flex-prev:before, a.flex-next:before {
      font-size: 1.3em;
    }
    
    a.flex-prev, a.flex-next {
      width: 1em;
      height: 1.8em;
    }

  }

  .flex-active {
    background-color: $teal-color !important;
  }
}

// jquery-zoom
.zoom-in {
  cursor: zoom-in;

  &:hover img.valign {
    display: none;
  }
}

.zoomImg {
  background-color: #fff;
}

// remove margin-right mCustomScrollbar
.mCSB_inside > .mCSB_container {
  margin-right: 0 !important;
}