#lander {
  background-color: #222;
  
  .ctn {
    padding-left: 55px;
    padding-right: 55px;
  }
  .parallax img {
    filter: grayscale(60%);
  }
  #intro {
    padding-bottom: 50px;
    height: 700px;
    background: image-url('headphone.png') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .non-prl {
    background: image-url('keyboard-bg.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(60%);
  }
  #intro nav {
    padding-top: 40px;
    background-color: transparent;
    box-shadow: none;
  }
  #nav-wrapper {
    height: 150px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
  }
  .nav-wrapper .brand-logo {
    font-size: 3.5em;
    img {
      width: 64px;
      height: 64px;
    }
  }
  a.login-btn {
    color: white;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.3em;
    border-radius: 0.2em;
    text-transform: uppercase;
  }
  #login-wrapper {
    margin-top: 60px;
    a.login-btn {
      display: block;
      width: 180px;
      margin: 0 auto;
    }
  }
  #slide-banner {
    margin-top: 150px;
    font-family: 'Source Sans Pro', sans-serif, "Helvetica Neue", Helvetica;
    color: #fff;
    h1 {
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 50px;
      line-height: 95px;
      span {
        display: inline-block;
      }
    }
    p {
      font-size: 1.5em;
      color: #C5D2E5;
    }
    h6 {
      font-size: 1.5em;
      font-style: italic;
      margin-top: 35px;
      margin-bottom: 45px;
    }
  }
  .re-action {
    margin-top: 30px;
  }
  .enter-btn {
    height: 50px;
    line-height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    width: 45% !important;
  }
}

/*Slide Banner*/

.post-btn {
  height: 50px;
  line-height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 45% !important;
}

#lander {
  .enter-btn {
    background-color: #50667d;
    &:hover {
      background-color: #627D99;
    }
  }
  .post-btn {
    background-color: $foreign-color;
    &:hover {
      background-color: #FF5156;
    }
  }
  #features {
    margin-top: -15px;
    padding-top: 15px;
    margin-bottom: -15px;
    padding-bottom: 15px;
    background-color: #222;
    .col {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    img {
      width: 150px;
      height: 150px;
    }
    .row {
      h2 {
        font-size: 35px;
        color: #f3f3f3;
      }
      p {
        font-size: 17px;
        color: #f2f2f2;
      }
    }
  }
  #feedbacks {
    margin-top: -20px;
    background-color: #222;
    > h4 {
      color: #f2f2f2;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 0;
    }
    .slides li {
      background-color: #222;
    }
    .caption {
      > div {
        margin-bottom: 50px;
        text-align: center !important;
      }
      img {
        width: 100px !important;
        height: 100px !important;
      }
      h5 {
        opacity: 0.87;
        font-weight: 500;
        letter-spacing: 0.02rem;
        font-size: 1rem;
        line-height: 1.72rem;
        text-align: center;
        color: #f3f3f3;
        max-width: 800px;
        margin: 0 auto;
      }
      p {
        padding-top: 2rem;
        font-weight: 300;
        font-size: 1rem;
        letter-spacing: 0.02rem;
        line-height: 1.72rem;
        margin: 0px 0px 1.72rem 0px;
        text-align: center;
        font-style: italic;
        color: #f2f2f2;
      }
    }
    .indicators {
      padding-bottom: 5px;
      .indicator-item.active {
        background-color: #50667d;
      }
    }
  }
  #contact {
    margin-top: -15px;
    padding-bottom: 30px;
    background-color: #222;
    color: #fff;
    form {
      text-align: center;
      max-width: 100%;
      label {
        text-align: left;
      }
    }
    div.center-align {
      h5 {
        padding-top: 50px;
        font-size: 2em;
      }
      img {
        width: 180px;
        height: 180px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  #contact-message {
    height: 6em !important;
  }
  footer.page-footer {
    margin-top: -15px;
    background-color: #222;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .page-footer {
    #footer-logo {
      position: relative;

      span {
        font-size: 2.5em;
      }
    }
  
    #page-social {
      h6 {
        margin-bottom: 15px;
      }

      img {
        margin-right: 5px;
      }
    }
  }
  .footer-copyright {
    margin-bottom: -10px;
  }
  #tabs-fixed {
    position: fixed !important;
    z-index: 1000;
    top: 50px;
    right: 20px;
    a {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      box-sizing: border-box;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #fff;
    }
  }
  .table-of-contents a.active {
    background-color: $foreign-color !important;
    border-left: none !important;
  }
}

#search {
  margin-top: 64px;

  .modal .modal-content {
    padding: 0;
  }

  .filter-form {
    button[type="submit"] {
      margin-bottom: 50px;
      width: 100%;
      text-align: center;
      background-color: $teal-color;
      border: none;
      border-radius: 2px;
      height: 42px;
      line-height: 42px;
      color: #fff;

      i.material-icons {
        height: 24px;
        margin-top: 6px;
      }
    }
  }
}

.user {
  width: 100px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  display: inline-block;

  a {
    color: #fff;

    img {
      @extend .circle;
      @extend .bordered-logo;
      width: 100px;
      height: 100px;
    }
    
    .user-info {
      text-align: center;
      font-size: 0.8em;
      
      & > div:first-child {
        color: $teal-color;
      }
      & > div {
        margin-bottom: 3px;
      }
    }
  }
}