#market {
  .nav-wrapper {
    ul {
      display: inline-block;
      text-transform: uppercase;

      li {
        display: inline-block;
        a {
          &.active, &:hover {
            @extend .primary-color-text;
            background-color: #FFF;
            border: 1px solid $primary-color;
            padding-bottom: 10px;
            height: 76px;
            padding-top: 5px;
          }
        }
      }
    }
  }

  #posts {
    .card {
      height: 560px;
      box-sizing: border-box;
      border-top: 3px solid #00887a;

      & > a {
        width: 100%;
      }

      &:hover {
        img {
          transform: scale(1.5);
          transition: transform 0.4s, opacity 0.1s 0.3s;
        }
      }

      .buyer-avatar {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 2;
        bottom: 295px;
        left: 20px;
      }

      .card-image {
        img {
          height: 250px;
        }
      }

      .card-content {
        height: 310px;
        color: #1c1c1c;
        background-color: #eee;
        
        a {
          color: #1c1c1c;
          width: 100%;
        }

        .post-title {
          height: 70px;
          line-height: 70px;
          font-size: 1.5rem;
  
        }

        .more-info {
          div.truncate {
            height: 50px;
            line-height: 50px;

            i.small.left {
              margin-top: 10.5px;
              color: #00887a;
            }
          }
        }
 
      }

      .card-reveal {
        .card-title {
          background-color: teal;
          color: #fff;
          margin: -20px;
          padding: 20px;
          height: 75px;

          i {
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }

        p {
          margin-top: 40px;
          font-size: 1.2rem;
          line-height: 25px;
        }

        .fixed-icon-bottom-right {
          position: absolute;
          bottom: 30px;
          right: 40px;
        }
      }
    }
  }
}
