#post {
  position: static !important;
  padding: 20px;

  #slider {
    border-bottom: 3px solid teal;
    border-radius: 0;
    padding: 10px;
    margin-bottom: -2px;

    img {
      height: 400px;
      width: auto;
      margin: 0 auto;
    }
  }
}

#carousel {
  border-radius: 0;
  padding: 10px;

  ul.slides {
    li {
      width: 128px !important;
      border: 1px solid teal;

      img {
        width: 128px;
        height: 128px;
      }
    }
  }
}

#attachments {
  margin-bottom: 30px;

  i.trash {
    color: red;
  }
}

#preview-wrapper {
  height: 212px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  border: 1px dotted teal;

  .dz-message {
    width: 100%;
    height: 100%;
    line-height: 150px;
  }
}

.dropzone {
  border: none !important;
  position: relative !important;
  padding-bottom: 75px !important;

  * {
    box-sizing: content-box !important;
    z-index: 1;
  }

  .dz-image {
    overflow: visible !important;
    margin-bottom: 5px;
    background-color: #f3f3f3;
    padding: 5px;
    height: 150px !important;
    width: 150px !important;
    border-radius: 0 !important;
    text-align: right;

    img {
      height: 150px !important;
      width: 150px !important;
      border-radius: 0;
      position: relative;
    }

    .remove_thumb {
      position: relative;
      top: -150px;
      z-index: 11;
      cursor: pointer;
      border-radius: 12px;
      background-color: black;
      color: #fff;
    }
  }

  .dz-details {
    top: 30px !important;
    text-align: left !important;
  }

  #submit-btn {
    position: absolute;
    bottom: 0;
  }
}
