#products {
  .card {
    height: 400px;

    & > a {
      width: 100%;
    }

    &:hover {
      img {
        transform: scale(1.5);
        transition: transform 0.4s, opacity 0.1s 0.3s;
      }
    }

    .buyer-avatar {
      width: 30px;
      height: 30px;
      position: absolute;
      z-index: 2;
      bottom: 85px;
      left: 20px;
    }

    .card-image {
      img {
        height: 300px;
      }

      .card-title {
        color: teal;
        text-shadow:
          -1px -1px 0 white,
          1px -1px 0 white,
          -1px 1px 0 white,
          1px 1px 0 white;
      }
    }

    .card-content {
      height: 100px;
      color: #fff;

      h6 {
        font-size: 1.4rem;
      }

      p {
        font-style: italic;

        span {
          font-size: 0.8em;
        }
      }
    }

    .card-reveal {
      .card-title {
        background-color: teal;
        color: #fff;
        margin: -20px;
        padding: 20px;

        i {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }

      p {
        margin-top: 40px;
      }

      .fixed-icon-bottom-right {
        position: absolute;
        bottom: 30px;
        right: 40px;
      }
    }
  }
}

#product {
  position: static !important;
  padding: 20px;

  #slider {
    border-bottom: 3px solid teal;
    border-radius: 0;
    padding: 10px;
    margin-bottom: -2px;

    img {
      height: 400px;
      width: auto;
      margin: 0 auto;
    }
  }
}

#carousel {
  border-radius: 0;
  padding: 10px;

  ul.slides {
    li {
      width: 128px !important;
      border: 1px solid teal;

      img {
        width: 128px;
        height: 128px;
      }
    }
  }
}

#attachments {
  margin-bottom: 30px;

  i.trash {
    color: red;
  }
}

#preview-wrapper {
  height: 212px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  border: 1px dotted teal;

  .dz-message {
    width: 100%;
    height: 100%;
    line-height: 150px;
  }
}

.dropzone {
  border: none !important;
  position: relative !important;
  padding-bottom: 75px !important;

  * {
    box-sizing: content-box !important;
    z-index: 1;
  }

  .dz-image {
    overflow: visible !important;
    margin-bottom: 5px;
    background-color: #f3f3f3;
    padding: 5px;
    height: 150px !important;
    width: 150px !important;
    border-radius: 0 !important;
    text-align: right;

    img {
      height: 150px !important;
      width: 150px !important;
      border-radius: 0;
      position: relative;
    }

    .remove_thumb {
      position: relative;
      top: -150px;
      z-index: 11;
      cursor: pointer;
      border-radius: 12px;
      background-color: black;
      color: #fff;
    }
  }

  .dz-details {
    top: 30px !important;
    text-align: left !important;
  }

  #submit-btn {
    position: absolute;
    bottom: 0;
  }
}

