@media #{$medium-and-up} {
  form {
    max-width: 700px;
  }

  nav {
    a.button-collapse {
      display: block;
    }
  }
}

 @media #{$large-and-up} {
  nav {
    a.brand-logo {
      left: 70px;
    }
  }
}