@media #{$large-and-up} {
  nav {
    a.brand-logo {
      left: 70px;
    }
  }

  #left-col, #right-col {
    width: 49% !important;
  }

  .ctn {
    width: 80%;
  }
}

@media #{$medium-and-up} {
  form {
    max-width: 700px;
  }

  nav {
    a.button-collapse {
      display: block;
    }
  }
}

@media #{$medium-and-down} {
  #login-btn .col {
    margin-bottom: 15px;
  }

  #lander #intro {
    height: 750px;
  }

  #lander #nav-wrapper {
    height: 200px;
  }
  
  #lander #slide-banner {
    margin-top: 200px;
  }

  #lander #slide-banner img {
    width: 256px;
    height: 256px;
  }

  #market {
    ul.tabs li.tab a i {
      margin-top: 0 !important;
    }
  }

  .ctn {
    width: 90%;
  }
}

@media #{$small-and-down} {
  #lander .ctn {
    padding-left: 5px;
    padding-right: 5px;
  }

  #lander .brand-logo i {
    margin-right: 0px !important;
  }

  #lander #slide-banner img {
    width: 192px;
    height: 192px;
  }

  #lander #slide-banner h1 {
    font-size: 3em;
    line-height: 50px;
  }

  #lander #slide-banner P {
    font-size: 1.3em;
  }

  #lander #slide-banner h6 {
    font-size: 1.3em;
  }

  #lander .caption h5 {
    font-size: 0.95em;
  }

  #market {
    .nav-wrapper i.left {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .search-bar {
    .input-field {
      label, i.material-icons {
        top: -5px !important;
      }
    }
  }

  ul.tabs {
    max-width: 100% !important;
  }
}

// Custom media
@media screen and (max-width: 450px) {
  #login-btn a {
    img {
      float: none !important;
    }

    span {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  #about-description {
    margin-top: -148px !important;
  }

  .ctn {
    width: 70%;
  }
}
