@media #{$large-and-up} {
  nav {
    a.brand-logo {
      left: 70px;
    }
  }

  .nav-pushpin-wrapper {
    margin-top: -1px;
  }

  .about-block {
    width: 49% !important;
  }

  .userView .login-div {
    margin-left: -16px;
    width: 268px;
  }
}

@media #{$medium-and-up} {
  form {
    max-width: 700px;
  }

  nav {
    a.button-collapse {
      display: block;
    }
  }
}

@media #{$medium-and-down} {
  #lander #intro {
    height: 750px;
  }

  #lander #nav-wrapper {
    height: 200px;
  }
  
  #lander #slide-banner {
    margin-top: 200px;
  }

  #lander #slide-banner img {
    width: 256px;
    height: 256px;
  }

  #market {
    ul.tabs li.tab a i {
      margin-top: 0 !important;
    }
  }

  #search-form-m {
    margin-top: 50px;

    #search-input-m {
      padding: 26px 26px 26px 48px;
      font-size: 26px;
      width: 100%;
      box-sizing: border-box;
      font-size: 20px;
      width: 100%;
      box-sizing: border-box;
      
      &:focus ~ .material-icons {
        color: black;
      }

      & ~ .material-icons {
        width: 28px;
        top: 12px;
        left: 10px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

@media #{$small-and-down} {
  #lander .ctn {
    padding-left: 5px;
    padding-right: 5px;
  }

  #lander .brand-logo i {
    margin-right: 0px !important;
  }

  #lander #slide-banner img {
    width: 192px;
    height: 192px;
  }

  #lander #slide-banner h1 {
    font-size: 3em;
    line-height: 50px;
  }

  #lander #slide-banner P {
    font-size: 1.3em;
  }

  #lander #slide-banner h6 {
    font-size: 1.3em;
  }

  #lander .caption h5 {
    font-size: 0.95em;
  }

  #market {
    .nav-wrapper i.left {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .search-bar {
    .input-field {
      label, i.material-icons {
        top: -5px !important;
      }
    }
  }

  ul.tabs {
    max-width: 100% !important;
  }

  #about-title {
    h4 {
      font-size: 23px;
      font-weight: bold;
    }

    p {
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  #about-description {
    margin-top: -148px !important;
  }

  .ctn {
    width: 80%;
  }
}
