@media #{$medium-and-up} {
  form {
    max-width: 700px;
  }

  nav {
    a.button-collapse {
      display: block;
    }
  }
}

@media #{$medium-and-down} {
  #login-btn .col {
    margin-bottom: 15px;
  }

  // .container {
  //   width: 100%;
  //   padding-left: 0;
  //   padding-right: 0;
  // }
}

@media #{$large-and-up} {
  nav {
    a.brand-logo {
      left: 70px;
    }
  }

  #left-col, #right-col {
    width: 49% !important;
  }
}

// Custom media
@media screen and (max-width: 450px) {
  #login-btn a {
    img {
      float: none !important;
    }

    span {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  #about-description {
    margin-top: -148px !important;
  }
}