#about-me {
  i {
    color: #747474;
  }
  
  #about-title {
    margin-left: -55px;
    margin-right: -55px;
    height: 300px;
    @extend .primary-color;
    color: #fff;
    padding-top: 30px;
  }

  #about-description {
    margin-top: -147px;

    .about-summary {
      position: relative;
      height: 280px;

      .about-bg, .about-name {
        height: 140px;
      }

      .about-bg {
        background: image-url("about-bg.png") no-repeat center;
        background-size: cover;
        height: 140px;
      }

      .about-name {
        text-align: center;
        padding: 10px;

        a.change-avatar {
          margin-top: -70px;
          position: relative;

          i {
            position: absolute;
            left: 40px;
            top: 40px;
            font-size: 40px;
            color: #fff;
            display: none;
          }

          &:hover {
            i {
              display: block
            }
          }
        }

        img {
          width: 120px;
          height: 120px;
          border: 2px solid #fff;
        }
      }
    }

    .about-block {
      padding: 20px 20px 0 20px;

      h5 {
        margin-bottom: 30px;
        font-weight: bold;
      }

      .about-info {
        & > div {
          padding-top: 15px;
          min-height: 50px;

          i, img {
            color: #9c9c9c;
            float: left;
            margin-right: 20px;
          }

          img {
            width: 24px;
            height: 24px;
            border-radius: 12px;
          }

          span {
            display: block;
            line-height: 24px;
          }
        }
      }

      .divider {
        margin-top: 15px;
        background-color: #3ec9cb;
      }
    }
  }
}

#login-btn {
  margin-top: 200px;

  #fb-login-btn, #gg-login-btn {
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #fff;

    img {
      width: 30px;
      margin-top: 10px;
      float: left;
    }

    span {
      padding-left: 10px;
    }
  }

  #fb-login-btn {
    background-color: #0086fb;
  }

  #gg-login-btn {
    background-color: #e44536;
  }
}

#change-name-form.modal {
  max-height: 100%;
  // width: 60%;

  .about-summary {
    margin: 0 auto;
    height: 380px !important;

    .about-name {
      height: 240px !important;

      .change-avatar {
        display: block;
        position: relative;

        i {
          margin-left: -72px;
        }
      }
      
      div.input-field.user_name {
        width: 100%;
        margin-top: 50px;

        input#user_name {
          font-size: 2em;
          text-align: center;
        }
      }
    }
  }
}