#about-me {
  i {
    color: #747474;
  }
  
  #about-title {
    margin-left: -55px;
    margin-right: -55px;
    height: 300px;
    @extend .primary-color;
    color: #fff;
    padding-top: 30px;
  }

  #about-description {
    margin-top: -147px;

    .about-summary {
      position: relative;

      .about-bg {
        height: 140px;
      }

      .about-bg {
        background: image-url("about-bg.png") no-repeat center;
        background-size: cover;
        height: 140px;
      }

      .about-name {
        text-align: center;
        padding: 10px;

        .edit-name-icon {
          position: absolute;
          right: 10px;
          top: 150px;
        }

        a.change-avatar {
          margin-top: -70px;
          position: relative;

          i {
            position: absolute;
            left: 40px;
            top: 40px;
            font-size: 40px;
            color: #fff;
            display: none;
          }

          &:hover {
            i {
              display: block
            }
          }
        }

        img {
          width: 120px;
          height: 120px;
          border: 2px solid #fff;
        }

        h6 {
          font-weight: 500;
          color: $teal-color;
        }
      }
    }

    .about-block {
      padding: 20px;
      @extend .card;
      @extend .hoverable; 

      h5 {
        margin-bottom: 30px;
        font-weight: bold;
      }

      ul.tabs {
        li.tab a.active {
          i {
            color: $teal-color;
          }
        }

        .indicator {
          background-color: $teal-color;
        }
      }

      .about-info {
        & > div {
          padding-top: 15px;
          min-height: 50px;

          img {
            width: 24px;
            height: 24px;
          }

          span {
            display: block;
            line-height: 24px;
            padding-left: 40px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

#login-btn {
  margin-top: 200px;

  #fb-login-btn, #gg-login-btn {
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #fff;

    img {
      width: 30px;
      margin-top: 10px;
      float: left;
    }

    span {
      padding-left: 10px;
    }
  }

  #fb-login-btn {
    background-color: #0086fb;
  }

  #gg-login-btn {
    background-color: #e44536;
  }
}

#edit-user-form.modal {
  max-height: 100%;
  // width: 60%;

  .about-summary {
    margin: 0 auto;
    height: 100% !important;

    .about-name {
      height: 240px !important;

      .change-avatar {
        display: block;
        position: relative;

        i {
          margin-left: -72px;
        }
      }
      
      div.input-field:first-child {
        width: 100%;
        margin-top: 50px;

        input {
          font-size: 2em;
          text-align: center;
        }
      }
    }
  }
}

#notifications {
  .group-by-date {
    margin-bottom: 50px;

    h6 {
      @extend .center-align;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .card {
      color: rgba(0, 0, 0, 0.5);
      min-height: 126px;
      padding: 15px;

      .left-content {
        img {
          width: 96px;
          height: 96px;
        }
      }

      .right-content {
        padding-left: 120px;

        .message-content {
          font-style: italic;
        }
      }
    }
  }
}

#edit-profile-form {
  .modal-content {
    min-height: 350px;

    ul.tabs {
      background-color: #fafafa;
      margin-bottom: 30px;

      li.tab a.active {
        color: $teal-color;
      }

      .indicator {
        background-color: $teal-color;
      }
    }

    .row:last-child {
      margin-bottom: 0;
    }

    .input-field {
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}