 <div id="show-chart" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12 m12 l6">
        <canvas id="providersChart"></canvas>
      </div>
      <div class="col s12 m12 l6">
        <canvas id="rolesChart"></canvas>
      </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect btn-flat">Đóng</a>
  </div>
</div>